input{
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
  height: 30px;
  

}

.mainDiv{

  border-radius: 10px;
  margin-top: 10px;
  

}

ul {
  list-style-type: none;
}

li{
  text-align: center;
  font-size: large;
  color: white;
  margin: 20px;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(20px);
  word-wrap: break-word;
  white-space: normal;
  overflow: auto;
  width: auto;
}